<%- include("./partials/header.ejs")%>

<h1>Welcome to the Super Team Picker</h1>
<br>
<br>

<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add a New Cohort</h5>
        <p class="card-text">🆕 Create a new cohort and divide them into teams.</p>
        <a href="./cohorts/new" class="btn btn-primary">New Cohort</a>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Existing Cohorts</h5>
        <p class="card-text">👀View, edit, or delete cohorts that have already been created</p>
        <a href="./cohorts/" class="btn btn-primary">View Cohorts</a>
    </div>
    </div>

  </div>


<%- include("./partials/footer.ejs")%>
