<%- include("./partials/header.ejs")%>

<h1>Welcome to the Super Team Picker</h1>
<br>
<br>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Add a New Cohort</h5>
        <p class="card-text">On this page you will be able to create a new cohort and divide them into teams.</p>
        <a href="./new" class="btn btn-primary">New Cohort</a>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">View Existing Cohorts</h5>
        <p class="card-text">On this page you can view cohorts that have already been created</p>
        <a href="./cohorts" class="btn btn-primary">View Cohorts</a>
    </div>
    </div>

  </div>


<%- include("./partials/footer.ejs")%>
